train_clean_backup.py
train_clean.py
train_edge_gnn_full.py
train_script.backup.py
tsplib_data/

synthetic_tsplib/
scripts/__pycache__/
scripts/preprocess_tsp.py
scripts/train_gnn.py
savedGraphs/
saved_models/
savedGraphs_EdgeGNN_only/

exact_comparison/
exactSolver_results/

huristic_comparison/
heuristicSolver_results/

quantum_comparison/
quantumSolver_results/

factor_analysis/

results/
quantum_run_outputs/
quantum_results/
pruned_graphs/
pruned_for_quantum/
logs/
data_cache/
__pycache__/
dataset_cache.pt
cache_probs/
calculate.py
dataset_cache.pt

graphs_chosen/

_part1_comparison_table.png
_part2_comparison_table.png
Quantum_Solver_–_Cross-Method_Comparison_part1_comparison_table.png
Quantum_Solver_–_Cross-Method_Comparison_part2_comparison_table.png