__pycache__/
cache_probs/
data_cache/
graphs_chosen/
logs/
prunedd_graphs/
results/
saved_models/
savedGraphs/
savedGraphs_EdgeGNN_only/
synthetic_tsplib/
table_visualization/
tsplib_data/
venv/

calculate.py
convert.py
loadModel.py
prune_edgegnn_only.py


results_optimality.csv
tsp_analysis_report.txt